
// 字体颜色
$title-color: #131313;
$word-color: #666666;
$control-color: #ADADAD;
$slipe-bg: #FF3C3E;
$color-white: #fff;
$color-black: #131313;
$color-red: #F4433D;
$color-slipe-red: #FF3C3E; 
$color-f5: #f5f5f5;
$color-dd: #DDDDDD;
$color-orange: #F4A03D;
$color-99: #999999;
$color-pink: #FCD1D1;
$color-ee: #EEEEEE;
$color-f4: #f4f4f4;
$color-33: #333;
$color-orange: #F2401A;
$color-pink-bg: #FEF0F0;
$color-black: #000000;
$color-bb: #BBBBBB;
$color-yellow: #F4A03D;
$color-3c: #3C3C3C;
$color-90: #909090;
$color-8c: #8c8c8c;
$color-3c: #3c3c3c;
$color-purple: #FF00FF;
$color-cc: #cccccc;
$color-93f: #9933ff;
$color-f3f: #ff33ff;
$color-36f: #3366FF;
$color-63f: #6633ff;



/* 行为相关颜色 */
$color_primary: #007aff;
$color_success: #4cd964;
$color_warning: #f0ad4e;
$color_error: #dd524d;
// 字体

$font-16: 16upx;
$font-20: 20upx;
$font-22: 22upx;
$font-24: 24upx;
$font-26: 26upx;
$font-28: 28upx;
$font-30: 30upx;
$font-32: 32upx;
$font-34: 34upx;
$font-36: 36upx;
$font-38: 38upx;
$font-40: 40upx;
$font-42: 42upx;
$font-44: 44upx;
$font-46: 46upx;
$font-52: 52upx;
$font-54: 54upx;
$font-56: 56upx;
$font-58: 58upx;
$font-76: 76upx;
$font-84: 84upx;
$font-86: 86upx;
$font-88: 88upx;

.font-16{
  font-size: $font-16!important;
}
.font-20{
  font-size: 20upx!important;
  }
.font-22{
  font-size: 22upx!important;
  }
.font-24{
  font-size: 24upx!important;
  }
.font-25{
  font-size: 25upx!important;
}
.font-26{
  font-size: 26upx!important;
  }
.font-28{
  font-size: 28upx!important;
  }
.font-30{
  font-size: 30upx!important;
  }
.font-32{
  font-size: 32upx!important;
  }
.font-34{
  font-size: 34upx!important;
  }
.font-36{
  font-size: 36upx!important;
  }
.font-38{
  font-size: 38upx!important;
  }
.font-40{
  font-size: 40upx!important;
  }
.font-42{
  font-size: 42upx!important;
  }
.font-44{
  font-size: 44upx!important;
  }
.font-46{
  font-size: 46upx!important;
  }
.font-52{
  font-size: 52upx!important;
  }
.font-54{
  font-size: 54upx!important;
  }
.font-56{
  font-size: 56upx!important;
  }
.font-58{
  font-size: 58upx!important;
  }
.font-57{
  font-size: 57upx!important;
}
.font-76{
  font-size: 76upx!important;
  }
.font-84{
  font-size: 84upx!important;
  }
.font-86{
  font-size: 86upx!important;
  }
.font-88{
  font-size: 88upx!important;
  }
.font-160{
  font-size: 160upx!important;
  }

.onelist-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.twolist-hidden {
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

$font-bold: 600;

.f-bold{
  font-weight: 600;
}

view, image, text, input, form{
  margin: 0;
  padding: 0;
}
// iconfont
@font-face {
  font-family: 'iconfont';
  src: url('~@/static/icon/iconfont.eot');
  src: url('~@/static/icon/iconfont.eot?#iefix') format('embedded-opentype'),
      url('~@/static/icon/iconfont.woff2') format('woff2'),
      url('~@/static/icon/iconfont.woff') format('woff'),
      url('~@/static/icon/iconfont.ttf') format('truetype'),
      url('~@/static/icon/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  margin-right: 10upx;
  font-size: $font-28;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 背景颜色
.bg_primary{
  background: #007aff;
}
.bg_success{
  background: #4cd964;
}
.bg_warning{
  background: #f0ad4e;
}
.bg_error{
  background: #dd524d;
}
.bg-white{ 
  background: #fff!important; 
}
.bg-black{
  background: #151515!important;
}
.bg-36f{
  background: $color-36f!important;
}
.bg-99{
  background: #999999!important;
}
.bg-33{
  background: $color-33!important;
}
.bg-3e{
  background: $color-slipe-red!important;
}
.bg-3d{
  background: $color-red!important;
}
.bg-f5{
  background: $color-f5!important;
}
.bg-13{
  background: $title-color;
}
.bg-orange{
  background: #FF5C00!important;
}
.bg-93f{
  background: #9933FF!important;
}

.border-99{
  border: 1px solid $color-99;
}
.border-f3f{
  border: 1px solid $color-f3f;
}
.border-93f{
  border: 1px solid $color-93f;
}
// 字体颜色
.font-red{
  color: $color-red;
}
.col-m {
  color: #ff5c00 !important;
}
.col-13{
  color: $color-black!important;
}
.col-ee{
  color: $color-ee!important;
}
.col-99{
  color: $color-99!important;
}
.col-f{
  color: #fff!important;
}
.col-cc{
  color: $color-cc;
}
.col-f3f{
  color: $color-f3f;
}
.col-blue{
  color: #3366FF!important;
}
.col-gold{
  color: #E9C692!important;
}
.font-99{
  color: $color-99;
}
.font-66{
  color: $word-color;
}
.col-66{
  color: $word-color;
}
.col-f3c{
  color: #FF33CC!important;
}
.col-93f{
  color: $color-93f!important;
}
.col-3d{
  color: $color-red!important;
}
.font-ff{
  color: $color-white;
}
.font-A3{
  color: #A3A3A3!important;
}
.font-purple{
  color: $color-purple!important;
}
.dis-block {
  display: block;
}

.dis-flex {
  display: flex !important;
  /* flex-wrap: wrap; */
}

.flex-box {
  flex: 1!important;
}

.flex-dir-row {
  flex-direction: row!important;
}

.flex-dir-column {
  flex-direction: column!important;
}
.flex-wrap{
  flex-wrap: wrap;
}

.flex-x-center {
  /* display: flex; */
  justify-content: center!important;
}

.flex-x-between {
  justify-content: space-between!important;
}

.flex-x-around {
  justify-content: space-around!important;
}

.flex-x-end {
  justify-content: flex-end!important;
}

.flex-y-center {
  align-items: center!important;
}

.flex-y-end {
  align-items: flex-end!important;
}
.flex-self-end {
    align-self: flex-end!important;
}
.flex-three{
  float: left;
  width: 33%;
}
.m-top20{
  margin-top: 20upx;
}
.over-hidden{
  overflow: hidden;
}

.t-dec-line {
  text-decoration: line-through;
}
.p-re{
  position: relative!important;
}
.p-ab{
  position: absolute!important;
}
.p-fix{
  position: fixed!important;
}

.v-hidden{
  visibility: hidden;
}

// 关闭原生头部导航时自定义头部样式
.topBar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30upx;
  height: 44px;
  width: calc(100% - 60upx);
  font-size: $font-28;
  background: $title-color;
  color: $control-color;
  z-index: 5;
}

.my-button{
  border-radius: 25upx;
  text-align: center;
}

// 怪异盒模型
.border-box{
  box-sizing: border-box;
}
.b-r-10{
  border-radius: 10upx;
}

.flex-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.t-center{
  text-align: center;
}
.t-left{
  text-align: left;
}
.t-right{
  text-align: right;
}
.b-top{
  border-top: 1px solid #f5f5f5;
}
.b-bottom{
  border-bottom: 1px solid #f5f5f5;
}

.padding-30{
  padding-left: 30upx;
  padding-right: 30upx;
}

.null{
  margin-top: 80upx;
  &>.iconfont{
    margin-bottom: 20upx;
  }
}
.m-top10{
  margin-top: 10upx;
}
.flow-all-list {
  font-size: 30upx;
  padding: 15upx 30upx;
  border-bottom: 1upx solid #f1f1f1;
}

.flow-all-list:last-child {
  border-bottom: none;
}

.flow-all-list-cont {
  font-size: 28upx;
  padding: 10upx 0;
}
.flow-fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #eee;
  z-index: 11;
}
// 全屏遮罩层
.big-cover{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  z-index: 20;
}

.toTop{
  animation: toTop 800ms;
  transition: 5s;
}

.toLeft{
  animation: toLeft 800ms;
}

.toBig{
  animation: toBig 800ms;
}

.my-btn{
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 100%;
  border-radius: 5px;
}

// 遮罩层从下往上
@keyframes toTop{
  from{
    transform: translateY(100%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

// 遮罩层从右到左
@keyframes toLeft{
  from{
    transform: translateX(100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

// 遮罩层从小到大
@keyframes toBig{
  from{
    transform: scale(0.1);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}

.selectSpan{
  position: relative;
  color: $color-36f;
  &:before{
    content: '+';
    position: absolute;
    box-sizing: border-box;
    padding-left: 0upx;
    bottom: -20upx;
    right: -20upx;
    color: $color-white;
    font-size: 22upx;
    height: 42upx;
    width: 42upx;
    text-align: left;
    line-height: 40upx;
    background: $color-36f;
    transform: rotate(45deg);
    z-index: 5;
  }
}
.linear-border{
  background: linear-gradient(to right,#00BFFF, #9933FF, #ff33cc); 
}

.border-red{
  color: $color-slipe-red!important;
  border-color: $color-slipe-red!important;
}

/* iPhone X in portrait & landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) {
}

/* iPhone X in landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
}

/* iPhone X in portrait */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
}

.container{ position: relative; width: 100%; height: 100%; overflow: hidden; box-sizing: border-box; display: flex; flex-direction: column; }
.content{ position: relative; flex: 1; overflow: hidden; background: #F5F5F5; display: flex; flex-direction: column; box-sizing: border-box; color: $title-color; }